<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the friends_init() hook (in hooks/friends.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="friends-id-<%%VALUE(id)%%>" class="friends-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="friends-user1_id-<%%VALUE(id)%%>" class="friends-user1_id text-right text-bold"><%%VALUE(user1_id)%%></td>
		<td id="friends-user2_id-<%%VALUE(id)%%>" class="friends-user2_id text-right text-bold"><%%VALUE(user2_id)%%></td>
		<td id="friends-created_at-<%%VALUE(id)%%>" class="friends-created_at text-bold"><%%VALUE(created_at)%%></td>
