<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the password_resets_init() hook (in hooks/password_resets.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="password_resets-id-<%%VALUE(id)%%>" class="password_resets-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="password_resets-user_id-<%%VALUE(id)%%>" class="password_resets-user_id text-right"><%%SELECT%%><%%VALUE(user_id)%%><%%ENDSELECT%%></td>
		<td id="password_resets-new_password_hash-<%%VALUE(id)%%>" class="password_resets-new_password_hash"><%%SELECT%%><%%VALUE(new_password_hash)%%><%%ENDSELECT%%></td>
		<td id="password_resets-requested_at-<%%VALUE(id)%%>" class="password_resets-requested_at"><%%SELECT%%><%%VALUE(requested_at)%%><%%ENDSELECT%%></td>
